* {
  font-family: "Open Sans", sans-serif;
  outline: none;
}
body {
  overflow-x:hidden;
}

.main-navbar {
  background-color: #282d37;
  min-height: 50px;
  z-index: 99;
  position: relative;
}

button.toggler {
  border: none;
  background-color: transparent;
  position: absolute;
  top: 8px;
}

.toggler span.icon-bar {
  background-color: #fff;
  padding: 1px 14px;
  margin: 6px;
  display: block;
  border-radius: 3px;
}

.projects {
  padding-left: 0;
}

.projects a {
  display: block;
  padding: 5px 10px;
  color: #fff;
  font-weight: 700;
}

.projects a .fa{
  font-size: 16px;
  margin-right: 5px;
}

.right-sidebar ul.tabs {
  padding: 0;
  overflow: hidden;
  width: 240px;
  margin: 0 auto;
}

.right-sidebar .tabs li {
  float: left;
  border: 1px solid #e4e4e4;
  padding: 5px 0px;
  width: 80px;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  color: #40444b;
}

.right-sidebar .tabs li.active {
  background-color: #e3e3e3;
}

form#search-form {
  position: absolute;
  top: 10px;
  left: 41%;
  width: 50%;
}

#search-form input#search {
  width: 80%;
  border-radius: 3px;
  background-color: #474F5F;
  border: none;
  padding: 5px;
  color: #f4f4f4;
  font-weight: 600;
  padding-left: 10px;
}

#search-form button {
  color: #A5ABB6;
  background-color: transparent;
  border: none;
  margin-left: -34px;
  border-left: 1px solid #7B7F88;
  padding-left: 7px;
}

.breadcrumbs {
  background-color: #f7f7f7;
  height: 50px;
}

#sidebar .title{
  display: block;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 10px;
  border-bottom: 2px solid #738290;
  margin: 10px;
  padding-bottom: 10px;
}

#sidebar .title .project-all {
  color: #AAB9C8;
}

#sidebar .title .project-all:hover {
  color: #AAB9C8;
}

#content .inner {
  width: 70%;
}

.right-sidebar {
  width: 30%;
  height: 100%;
  background-color: #f7f7f7;
  padding: 10px 22px;
  float: right;
}

.right-sidebar h4 {
    color: #777;
    margin-bottom: 15px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}
.main-content{
  background: #fff;
  position: relative;
  -webkit-transition: all .35s ease-in-out;
  -moz-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out;
  box-shadow: 0 -58px 40px rgba(0, 0, 0, 1);
  height: 100%;
}

.main-content.open {
  -webkit-transform: translateX(240px);
  -moz-transform: translateX(240px);
  transform: translateX(240px);
}

.logout {
  position: absolute;
  right: 0;
  font-size: 24px;
  color: #fff;
  padding: 8px 15px;
  border-left: 1px solid #4A4E56;
}

.logout:hover {
  color: #e8e8e8;
}

div#content {
    padding: 0;
}

#sidebar {
  background-color: #474f60;
  width: 15%;
  position: fixed;
  height: 100%;
  left: 0px;
  -webkit-transition: all .35s ease-in-out;
  -moz-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out;
}

#sidebar.active {
  left: 0;
  z-index: 3;
}

#sidebar ul.links {
  padding-left: 0;
  margin-top: 10px;
}

#sidebar .links li{
  display: block;
}

#sidebar .links a {
  font-size: 13px;
  padding: 10px 8px;
  display: block;
  text-transform: uppercase;
  color: #fff;
}

#sidebar .links a .fa {
  font-size: 16px;
}

#sidebar .links span.label {
  font-size: inherit;
  font-weight: bold;
}

a {
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
}

a:hover, a:focus {
  text-decoration: none !important;
}


ul,
ol {
  list-style: none;
}

.header {
  margin: 12px 0 20px;
}

.header .month {
  font-weight: 300;
  text-align: left;
  margin: 0;
  position: relative;
}

.calendar-left {
  width: 70%;
}

.calendar-right {
  width: 30%;
}

.btn-blue {
  padding: 8px 20px;
  display: inline-block;
  background-color: #4ba9df;
  color: #fff;
  border-radius: 5px;
  font-weight: 600;
  outline: none !important; 
}

.btn-blue:hover, .btn-blue:focus {
  color: #fff;
  background-color: #439BCD;
}

.btn-grey {
  padding: 8px 20px;
  display: inline-block;
  border-radius: 5px;
  font-weight: 600;
  outline: none !important; 
  border-color: #c8ccd0;
  box-shadow: none;
  background: #474F5F;
  color: #fff;
}

.btn-grey:hover, .btn-grey:focus {
  background: #474F5F;
  color: #fff;
}

.brand-name {
  font-family: "Lobster" !important;
  color: #fff !important;
  font-size: 28px;
  position: absolute;
  left: 10px;
  top: 2px;
}

#content .middle{
  position: fixed;
  width: 85%;
  left: 15%;
  padding: 12px 12px 30px;
  overflow: scroll;
  height: 100%;
}

.breadcrumb {
  padding: 15px 15px;
  margin-bottom: 0px;
  list-style: none;
  background-color: #f7f7f7;
  border-radius: 4px;
}

.breadcrumb li a {
  color: #282d37;
}

.breadcrumb li a:hover {
  color: #5B6271;
}

.modal-content .modal-header {
  border-color: #dcdfdf;
  background-color: #f6f7f7;
  font-weight: 600;
  border-radius: 5px 5px 0 0;
}

.modal-content button.close {
  font-size: 32px;
  font-weight: 400;
}

.modal-content h4.modal-title {
  font-weight: 600;
  color: #636c72;
}

.delete {
  border: none;
  padding: 0.4em .6em .3em;
}

.form-delete {
  display: inline;
}

/* calendar */
table.calendar    { border-left:1px solid #999; }
tr.calendar-row {  }
td.calendar-day { cursor:pointer; min-height:80px; font-size:11px; position:relative; text-align: center;} * html div.calendar-day { height:80px; }
td.calendar-day:hover { background:#eceff5; }
td.calendar-day-np  { background:#fff; min-height:80px; } 
* html div.calendar-day-np { height:80px; }

div.day-number    { padding:5px; color:#555; font-weight:300; margin:0px; width:20px; text-align:center; display: inline;font-size: 25px;}
/* shared */
td.calendar-day, td.calendar-day-np { width:120px; padding:10px; border-bottom:1px solid #999; border-right:1px solid #999; }

.right-sidebar td.calendar-day, .right-sidebar td.calendar-day-np {
  padding: 0px;
  width: 80px;
}
.right-sidebar td.calendar-day-head {
  padding: 0;
  font-size: 12px;
  font-weight: 400;
}

.right-sidebar div.day-number {
  font-size: 20px;
}

.right-sidebar .calendar-day .fa {
  font-size: 10px;
}

td.calendar-day-head {
  background: #fff;
  font-weight: 300;
  text-align: center;
  width: 120px;
  padding: 5px;
  border-bottom: 1px solid #999;
  border-top: 1px solid #999;
  border-right: 1px solid #999;
  font-family: "Open Sans", sans-serif;
}


.table-sorter thead tr th {
  padding-top: .9em;
  padding-bottom: .7em;
  padding-left: .6em;
  padding-right: 1.6em;
}

.calendar .on-process{
  background-color: rgb(168, 223, 168);
}

.calendar .on-process:hover {
  background-color:rgb(139, 224, 139);
}

.calendar .delayed {
  background-color: rgb(234, 182, 182);
}

.calendar .delayed:hover {
  background-color: rgb(232, 153, 153);
}

.add-project {
  margin: 5px;
  border: 1px solid #ECEAEA;
  padding: 0px 4px;
  font-size: 12px;
  border-radius: 3px;
  color: #474f60;
  background-color: #ECEAEA;
}

.load-content {
  cursor: pointer;
}

.dynamic-content {
  color: #555;
}

.dynamic-content p {
    margin-bottom: 20px;
}

.dynamic-content .fa {
  margin-right: 5px;
}

.errors {
    width: 50%;
    margin: 0 auto;
}

.errors ul {
  list-style: none;
}

.calendar-day {
  position: relative;
}

input#monthpicker {
    width: 100px;
    position: absolute;
    right: 56px;
    height: 30px;
    top: 10px;
    font-size: 14px;
    text-align: center;
}
.calendar-day .fa {
  position: absolute;
    top: 5px;
    left: 5px;
    font-size: 15px;
}

.add-task {
    position: absolute;
    right: 65px;
    padding: 4px 11px;
    top: 6px;
    border: 1px solid #474F5F;
    background-color: #474F5F;
    border-radius: 4px;
    font-size: 20px;
    color: #CACACA;
}

.add-task:hover {
    color: #CACACA;
}

@media only screen and (min-width: 240px) and (max-width: 1023px) {
  .right-sidebar {
    position: relative;
    right: none;
    width: 100%;
  }
}

@media only screen and (min-width: 1024px){
  .right-sidebar {
    position: fixed;
    right: 0;
    top: 98px;
  }
}